{% extends '::base.html.twig' %}

{% block body -%}
<div style="text-align: center;">

    <h1> Sorry! You are trying to perform disallowed action! Try another one! Tnx :P  </h1>
    <img src="http://cdn.css-tricks.com/images/404.jpg" alt="Sorry ! You try to do disallowed action ! Try another one ! Tnx :P ">

</div>

{% endblock %}
