<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}advertisements{% endblock %}</title>
    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    {% endblock %}
</head>
<body style="width:960px; margin:auto;">
<header style="width:100%; height:60px; background-color: #ddd; margin-bottom:20px; padding:5px;">
    <a href="{{ path('main_homepage') }}"><img src="{{ asset('img/eglobal.jpg') }}" height="50px"/></a>

    {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('logout') }}" class="btn btn-primary btn-lg" role="button" style="float:right;margin:0 10px">Logout</a>
        <a href="{{ path('advert_new') }}" class="btn btn-primary btn-lg" role="button" style="float:right;">Add Advertisements</a>
    {% else %}
        <a href="{{ path('register_page') }}" class="btn btn-primary btn-lg" role="button" style="float:right;margin:0 10px; ">Registration</a>
        <a href="{{ path('login') }}" class="btn btn-primary btn-lg" role="button" style="float:right;">Login</a>
    {% endif %}

</header>
<div style="width:900px; margin: auto; padding:15px" >
    {% block body %}
    {% endblock %}
</div>

</body>
</html>