{%  extends '::base.html.twig' %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
 {% endblock %}
{% block body -%}

    <h1>Edit Advertisement</h1>

    {{ form_start(edit_form, {'attr':{'class':'form-horizontal'}}) }}
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            {{ form_widget(edit_form.title ,{'attr':{'class':'form-control','placeholder':'Advertisement title'} })}}
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Text</label>
        <div class="col-sm-10">
            {{ form_widget(edit_form.text ,{'attr':{'class':'form-control','rows':3 ,'placeholder':'Advertisement text'} })}}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_row(edit_form.submit, {'attr':{'class':'btn btn-primary btn-lg btn-block'}}) }}
            {{ form_rest(edit_form,{'attr':{'class':'btn btn-default'}} ) }}
        </div>
    </div>
    <div class="form-group" style="text-align: center;">
        <a href="{{ path('main_homepage') }}">Back to the list</a>
    </div>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form,{'attr':{'style':'text-align:center;'}}) }}
        {{ form_row(delete_form.submit, {'label':'Delete This Advertisement', 'attr':{'class':'"btn btn-danger'}, 'id':'deleteAdvert'}) }}
        {{ form_rest(delete_form) }}
    {{ form_end(delete_form) }}

{% endblock %}

