{%  extends '::base.html.twig' %}

{% block body -%}
    <h1>Advertisements</h1>

    {% for entity in entities %}
         {% set borderColor = '#f9ffad' %}
         {% set myAdvert = false %}

         {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if entity.owner == app.user %}
                {% set borderColor = '#FF7B42' %}
                {% set myAdvert = true %}
            {% endif %}
         {% endif %}
        <div class="form-horizontal" style="border:1px solid {{ borderColor }}; padding: 10px;background-color: #fdffe2; margin: 5px 0;">
            <div class="form-group">
                <div class="col-sm-10">
                    <p class="form-control-static">{{ entity.title }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <p class="form-control-static" style=" border-bottom: 1px dotted #ffa36a;">{{ entity.text }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Create Date:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{% if entity.addDatetime %}{{ entity.addDatetime|date('Y-m-d H:i:s') }}{% endif %}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Owner:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ entity.owner.username }} ({{ entity.owner.email }})</p>
                </div>
            </div>
            {#
                <a class="btn btn-default" href="{{ path('advert_show', { 'id': entity.id }) }}" role="button">show</a>
            #}
        </div>
        <a class="btn btn-default" href="{{ path('advert_show', { 'id': entity.id }) }}" role="button">Preview</a>

        {% if myAdvert %}
            <a class="btn btn-default" href="{{ path('advert_edit', { 'id': entity.id }) }}" role="button">edit</a>
        {% endif %}

        <hr>

    {% endfor %}

{% endblock %}
