{%  extends '::base.html.twig' %}

{% block body -%}
    <h1>Create Advertisement</h1>

    <form class="form-horizontal" role="form"  method="post" action="{{ path('advert_create') }}">
        <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label" >Additions Remains</label>
            <div class="col-sm-10">
                <p class="form-control-static">This Week : {{ addInfo.week }} , Today : {{ addInfo.today }}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                {{ form_widget(form.title ,{'attr':{'class':'form-control','placeholder':'Advertisement title'} })}}
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Text</label>
            <div class="col-sm-10">
                {{ form_widget(form.text ,{'attr':{'class':'form-control','rows':3 ,'placeholder':'Advertisement text'} })}}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {% if addInfo.week and addInfo.today %}
                    {{ form_row(form.submit, {'attr':{'class':'btn btn-primary btn-lg btn-block'}}) }}
                {% else %}
                    {{ form_row(form.submit, {'attr':{'class':'btn btn-primary btn-lg active', 'disabled':'disabled'}}) }}
                {% endif %}

                {{ form_rest(form) }}
             </div>
        </div>
        <div class="form-group" style="text-align: center;">
            <a href="{{ path('main_homepage') }}">
                Back to the list
            </a>
        </div>
    </form>




{% endblock %}
