{%  extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}
{% block body -%}
    <h1>Advertisement Preview</h1>
<div class="form-horizontal">
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label" >Title</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ entity.title }}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label" >Text</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ entity.text }}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label" >Created</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ entity.addDatetime|date('Y-m-d H:i:s') }}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label" >Owner Info</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ entity.owner.username }} - {{ entity.owner.email }}</p>
        </div>
    </div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if entity.owner == app.user %}
            <div style="width:100%; text-align: center; margin:10px 0;">
                <a href="{{ path('advert_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-lg btn-block" role="button">Edit</a>
            </div>
        {% endif %}
    {% endif %}

    <div class="form-group" style="text-align: center;">
        <a href="{{ path('main_homepage') }}">
            Back to the list
        </a>
    </div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if entity.owner == app.user %}
            {{ form_start(delete_form,{'attr':{'style':'text-align:center;'}}) }}
            {{ form_row(delete_form.submit, {'label':'Delete This Advertisement', 'attr':{'class':'"btn btn-danger'}, 'id':'deleteAdvert'}) }}
            {{ form_rest(delete_form) }}
            {{ form_end(delete_form) }}
        {% endif %}
    {% endif %}

</div>




{% endblock %}
