{%  extends '::base.html.twig' %}

{% block body %}
        <h1>Registration Form</h1>
        <form class="form-horizontal" role="form" action="{{ path('register_page') }}" method="post">
            <div class="form-group">
                {# <label class="col-sm-2 control-label">Username</label> #}
                {{ form_label(regForm.username, 'Username', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {#    <input type="text" class="form-control" placeholder="Username">    #}
                    {{ form_widget(regForm.username ,{'attr':{'class':'form-control','placeholder':'Username'} }) }}
                    {% if form_errors(regForm.username) %}
                        <span class="help-block" style="color:#ff0000">{{ form_errors(regForm.username) | striptags }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    {# <input type="email" class="form-control" placeholder="Email"> #}
                    {{ form_widget(regForm.email ,{'attr':{'class':'form-control','placeholder':'Email'} }) }}
                    {% if form_errors(regForm.email) %}
                        <span class="help-block" style="color:#ff0000">{{ form_errors(regForm.email) | striptags }}</span>
                    {% endif %}
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    {# <input type="password" class="form-control"  placeholder="Password"> #}
                    {{ form_widget(regForm.plainPassword.first ,{'attr':{'class':'form-control','placeholder':'password'} }) }}

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    {# <input type="password" class="form-control"  placeholder="Confirm Password"> #}
                    {{ form_widget(regForm.plainPassword.second ,{'attr':{'class':'form-control','placeholder':'Configm password'} }) }}
                    {% if form_errors(regForm.plainPassword.first) %}
                        <span class="help-block" style="color:#ff0000">{{ form_errors(regForm.plainPassword.first) | striptags }}</span>
                    {% endif %}
                </div>
            </div>

            {{ form_rest(regForm) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" formnovalidate class="btn btn-primary btn-lg btn-block" value="Register">
                </div>
            </div>
        </form>


{% endblock %}