{%  extends '::base.html.twig' %}

{% block body %}
    <form class="form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Email / Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {% if error %}
                    <span class="help-block" style="color: #ff0000;">{{ error.message | trans}}</span>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </div>
        </div>
     </form>
{% endblock %}